.container{
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.formWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.formDivFirst{
    font-weight: 500;
    font-size: 1.3rem;
}

.formDivSecond{
    min-width: 50%;
    font-size: 1.3rem;
    margin: 0px !important;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.proceedButton{
    margin-top: 1.5rem !important;
    border-radius: 0.5rem !important;
    font-size: 1rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    background-color: #1C4EFE !important;
    width: 100%;
}

@media (min-width: 545px) {
    .formDivFirst{
        font-size: 1.5rem;
    }
    .proceedButton{
        font-size: 1.2rem !important;
        width: 50%;
    }
}

@media (min-width: 630px) {
    .container{
        padding-top: 6rem;
    }  
    .formDiv{
        margin-top: 1.5rem;
    }  
    .formDivFirst{
        font-size: 1.8rem;
    }
    .proceedButton{
        font-size: 1.2rem !important;
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container{
        padding-top: 7rem;
    }
    .formDivFirst{
        font-size: 2rem;
    }
    .formDiv{
        margin-top: 2rem;
    }  
    .proceedButton{
        font-size: 1.4rem !important;
        width: 30%;
    }
}

@media (min-width: 1150px) { 
    .container{
        padding-top: 8rem;
    }
    .formDivFirst{
        font-size: 2rem;
    }
    .proceedButton{
        font-size: 1.4rem !important;
        width: 20%;
    }
}