.container{
    padding-top: 8rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    align-items: flex-end;
    /* justify-content: flex-end; */
    width: 85%;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.headerText{
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
}

.bodyWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    width: 80%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;;
}

.footerFirst{
    font-weight: 700;
}

.footerSecond{
    margin-top: 1rem !important;
    width: 85%;
}

.upload{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.5rem;;
}

.buttonWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.submitButton{
    margin-top: 1.5rem !important;
    border-radius: 0.5rem !important;
    text-transform: none !important;
    box-shadow: none !important;
    background-color: #1C4EFE !important;
    width: 100%;
}

@media (min-width: 545px) {
    .container{
        margin: 1.5rem;
    }
    .wrapper{
        padding: 1rem 1.2rem;
    }
    .headerText{
        font-size: 1.6rem;
    }  
    .headerIcon{
        width: 1.6rem !important;
        height: 1.6rem !important;
    } 
    .footerFirst{
        font-size: 1.2rem;
    }   
    .footerSecond{
       padding: 0.2rem;
    } 
    .submitButton{
        font-size: 1rem !important;
        width: 50%;
    }
}

@media (min-width: 630px) {
    .container{
        margin: 1.8rem;
    }
    .headerText{
        font-size: 1.8rem;
    } 
    .headerIcon{
        width: 1.8rem !important;
        height: 1.8rem !important;
    }  
    .footerFirst{
        font-size: 1.5rem;
    }   
    .footerSecond{
        margin-top: 0.5rem;
    } 
    .submitButton{
        font-size: 1rem !important;
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container{
        margin: 2rem;
    }
    .wrapper{
        padding: 1.2rem 1.5rem;
    }
    .headerText{
        font-size: 2rem;
    } 
    .headerIcon{
        width: 2rem !important;
        height: 2rem !important;
    }     
    .submitButton{
        font-size: 1.2rem !important;
        width: 30%;
    }
}

@media (min-width: 1150px) {
    .container{
        margin: 2.2rem;
    }
    .headerText{
        font-size: 2.2rem;
    } 
    .headerIcon{
        width: 2.2rem !important;
        height: 2.2rem !important;
    }     
    .submitButton{
        font-size: 1.2rem !important;
        width: 20%;
    }
}